@import "vars";

*{
  box-sizing: border-box;
  font-family: $primaryFont;
}

body,html{
  margin: 0;
}

.site-container{
  max-width:1260px;
  width:100%;
  margin:0 auto;
}

img{
  max-width:100%;
}


.absolute--middle_top{
  position: absolute;
  left:50%;
  transform:translateX(-50%);
  top:30px;
  z-index:3;
}

.no-move{
  position: fixed;
  overflow:hidden;
}
