@import "vars";

*{
  box-sizing: border-box;
  font-family: $primaryFont;
}

body,html{
  margin: 0;
}

/* Default site container */
.site-container{
  max-width:1260px;
  width:100%;
  margin:0 auto;
}
/* Sets all images to have a max-width of 100% to prevent overflow */
img{
  max-width:100%;
}

.no-move{
  position: fixed;
  overflow:hidden;
}
