/* Styling for the navigation bar located at the top of the page */
header{
  top:80px;
  left:0;
  width:100%;
  height:100vh;
  background:lighten($secondaryColor, 5%);
  position: fixed;
  z-index: 10;
  padding:0 30px;
  display:none;
  &.active{
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
  }
  @media #{$laptop}{
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    top:0;
    height:auto;
  }

/* Defines styling for the logo placed within the navigation bar */
  img{
    height:30px;
    width:30px;
    display:none;
    @media #{$laptop}{
      display:block;
    }
  }

}
/* Defines styling for the navigation bar located on the right hand side on desktop, will go into a column layout on mobile */
.main-navigation{
  position: static;
  transition: 0.2s ease-in-out;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
  padding: 20px;
  transform:none;

  @media #{$laptop}{
    @include flex-direction(row);
      @include align-items(center);
  }



  a{
    color:$white;
    text-decoration: none;
    text-shadow: $shadow;
    margin-right:20px;
    font-size:2em;
    margin-bottom:30px;
    font-weight:100;
    @media #{$laptop}{
      font-size:18px;
      margin-bottom:0;
    }
    @media #{$desktop}{
      font-size:20px;
    }
  }
}

/* Styling for the hamburger menu, will style each line individually */
#hamburger{
  width: 36px;
  height: 18px;
  position: relative;
  display: block;
  cursor: pointer;
  // margin: 0 auto;
  margin:0;

  .line{
    width: 36px;
    height: 2px;
    display: block;
    background-color: $black;
    position: absolute;
    left: 0;
    transition: all .3s cubic-bezier(0.580, 0.000, 0.580, 1.000);

    &:nth-child(1){
      top: 0;
    }
    &:nth-child(2){
      top: 50%;
      margin-top: -1px;
      width: 28px;
    }
    &:nth-child(3){
      top: 100%;
      margin-top: -2px;
      width: 36px;
    }
  }

  &:hover, &:focus{
    .line{
      &:nth-child(1){
        width:28px;
        transform: translateY(-1px);
      }
      &:nth-child(3){
        width:28px;
        transform: translateY(1px);
      }
      &:nth-child(2){
        width:36px;
      }
    }
  }
  &.active{
    .line{
      background-color:$primaryColor;
      &:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        width: 26px;
      }
      &:nth-child(2){
        opacity: 0;
      }
      &:nth-child(3){
        width:26px;
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}
