/* logo group is a container for the logo and the phrase below, the phrase is designed to be within a span tag. This is designed for SEO to detect */
.logo--group{
  img{
    height:250px;
  }
}
.mouse-scroll{
  img{
    height:50px;
  }
}

/* UVP block is designed for the right-hand side of the welcome view, showing what rubyside is with a call to action */
.uvp--block{
  width:80%;
  font-size:14px;
  line-height:1.5em;
  @media #{$tablet}{
    font-size:24px;
    width:80%;
  }

  h1{
    font-weight:300;
    text-shadow: $shadow;
    font-size:32px;
    @media #{$laptop}{
      font-size:62px;
      margin:5px 0;
    }

    line-height:145%;
  }

}

.group-position{
  position: absolute;
}
