.logo--group{
  img{
    height:250px;
  }
}
.mouse-scroll{
  img{
    height:50px;
  }
}

.rubyside-motto{
  font-size:20px;
}

.uvp--block{
  width:80%;
  font-size:14px;
  line-height:1.5em;
  @media #{$tablet}{
    font-size:24px;
    width:80%;
  }

  h1{
    font-weight:300;
    text-shadow: $shadow;
    font-size:32px;
    @media #{$laptop}{
      font-size:62px;
      margin:5px 0;
    }

    line-height:145%;
  }

}

.group-position{
  position: absolute;
}
